@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap");

body {
  font-family: "Poppins", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  background-color: #abb3ff !important;
}
