@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap");

body {
  font-family: "Poppins", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/149/583/original/Into_The_Sky_Zoom_Meeting_Background.jpg?1730850638");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
